@tailwind base;
  @tailwind components;
  @tailwind utilities;

  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .tiptap {
    h1.text-style {
      @apply text-4xl font-light;
    }
    h2.text-style {
      @apply text-2xl;
    }
    h3.text-style {
      @apply text-xl;
    }
    /*p.text-style {
      @apply text-lg font-medium mb-1;
    }*/

    .Tiptap-mathematics-editor {
      background: #202020;
      color: #fff;
      font-family: monospace;
      padding: 0.2rem 0.5rem;
    }
  
    .Tiptap-mathematics-render {
      padding: 0 0.25rem;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #eee;
      }
    }
  
    .Tiptap-mathematics-editor,
    .Tiptap-mathematics-render {
      @apply rounded;
      @apply inline-block;
    }

    /* Placeholder */
    p.is-editor-empty:first-child::before {
      @apply text-muted-foreground;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }

    img {
      display: block;
      height: auto;
      @apply m-1;
      max-width: 100%;
  
      &.ProseMirror-selectednode {
        @apply outline;
        @apply outline-2;
        @apply outline-primary;
      }
    }
  }